* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2a2c2f;
  overflow-x: hidden;
}

.page {
  color: #ffffff;
  max-width: 1050px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}
